<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Для сохранения фотографий в медиатеку нужно ваше разрешение</string>
	<key>NSCameraUsageDescription</key>
	<string>Для добавления изображений в карточку домашнего задания нужен доступ к камере</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.$(CFBundleIdentifier)</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>SwiftGups</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>APP_NEWS_FEED_URL</key>
	<string>https://s3.twcstorage.ru/c8302457-monkey/app-news.json</string>
</dict>
</plist>
